.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin: 2%;
}

.headerLogo {
    width: 50%;
}

.headerLogo img {
    height: 100%;
}

.headerContent {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 25%;
    font-size: 1.5rem;
}

.headerContentItem {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.headerContentItem:hover {
    color: #fff;
    scale: 1.1;
}