.wheelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px;
}

button {
    width: 300px;
    height: 50px;
    border: solid 4px var(--second-color);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--second-color);
}

.started-spinning {
    background-color: transparent;
}

.sc-dlfnbm canvas {
    /* sc-dlfnbm est le nom de la classe de react-custom-roulette*/
    background-color: transparent;
}

.sc-dlfnbm {
    /* sc-dlfnbm est le nom de la classe de react-custom-roulette*/
    background-color: transparent;
}

input {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: solid 2px var(--second-color);
    font-size: 1rem;
    font-weight: bold;
}

.container-roulette {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.number-wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.button-change-wheel {
    width: 350px;
}