@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color : #FBB13C;
    --second-color : #895B1E;
    --third-color : #EBEAE1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color);
}